<p>
    To embed a document, a Journal entry will be created. You can set 
    permissions to view, edit, etc. afterwards as you would for any other 
    Journal. 
</p>
<form>
    <div class="flexrow" style="margin-bottom: 0.5em;">
        <label style="width: 25%">Document URL:</label>
        <input type='text' name='url'></input>
    </div>
    <div class="flexrow" style="margin-bottom: 0.5em;">
        <label>Name:</label>
        <input type='text' name='name'></input>
    </div>
</form>