.message-content .dice-roll .dice-result .dice-total {
    display: none
}

.pmvttScoreBoardForm {
    background: rgba(255, 255, 240, .8);
    margin: 3px;
    padding: 5px;
    font-size: var(--font-size-14);
    color: var(--color-text-dark-primary);
    border: 2px solid #6f6c66;
    border-radius: 5px;
}










































.swade .check-container,
.swade-official .check-container {
    cursor: pointer;
    display: block;
    font-size: 1.15em;
    line-height: 20px;
    padding-left: 30px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.swade .check-container input,
.swade-official .check-container input {
    cursor: pointer;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0
}

.swade .check-container input:focus .check-container,
.swade-official .check-container input:focus .check-container {
    border: 1px solid #000
}

.swade .check-container input:focus+.checkmark,
.swade-official .check-container input:focus+.checkmark {
    box-shadow: 0 0 5px red;
    outline: none
}

.swade .checkmark,
.swade-official .checkmark {
    background-color: #aca592;
    border-radius: 2px;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px
}

.swade .check-container:hover input~.checkmark,
.swade-official .check-container:hover input~.checkmark {
    background-color: #aca592;
    box-shadow: 0 0 5px red
}

.swade .check-container:focus input~.checkmark,
.swade-official .check-container:focus input~.checkmark {
    box-shadow: 0 0 5px red
}

.swade .check-container input:checked~.checkmark,
.swade-official .check-container input:checked~.checkmark {
    background-color: #aca592
}

.swade .checkmark:after,
.swade-official .checkmark:after {
    content: "";
    display: none;
    position: absolute
}

.swade .check-container input:checked~.checkmark:after,
.swade-official .check-container input:checked~.checkmark:after {
    display: block
}

.swade .check-container .checkmark:after,
.swade-official .check-container .checkmark:after {
    border: solid #972824;
    border-width: 0 3px 3px 0;
    height: 10px;
    left: 6px;
    top: 2px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 5px
}

.card-button,
.swade-official .powers .item-card .card-buttons button,
.swade-official .quick-list .gear-card .card-content .card-buttons button {
    background: rgba(255, 255, 240, .8);
    border: 1px solid #b5b3a4;
    border-radius: 3px;
    display: block;
    font-family: Signika, sans-serif;
    font-size: 12px;
    height: 24px;
    line-height: 20px;
    margin: 2px 0;
    width: 100%
}

.actions-subheading,
.swade-official .item-card .bold {
    font-weight: 700
}

.swade-official .powers .power .description-grid {
    grid-gap: 10px;
    display: grid;
    grid-template-areas: "details details" "trappings trappings" "description actions";
    grid-template-columns: 2fr 1fr
}

.swade-official .powers .power .description-grid .power-details {
    grid-area: details
}

.swade-official .powers .power .description-grid .trapping {
    grid-area: trappings
}

.swade-official .powers .power .description-grid .enriched-description {
    grid-area: description;
    padding: 2px
}

.swade-official .powers .power .description-grid .enriched-description .swade-core {
    padding: 0
}

.swade-official .powers .power .description-grid .item-card {
    grid-area: actions;
    padding: 2px
}

.swade-official .powers .item-card {
    font-size: 14px
}


.swade-official {

    --section-header-color: #972824;
    --section-header-size: 1.5em;
    --section-header-font: "Anton", "Signika", sans-serif;
    --default-font: "Roboto Slab", "Signika", serif;
    --default-font-size: 1em;
    --input-background: #cbc0af;
    --input-box-shadow: 0 0 5px red;
    --input-text-shadow: 0 0 10px red;
    --add-button-color: #aca592;
    font-family: var(--default-font);
    font-size: var(--default-font-size);
    font-weight: 400
}

.swade-official .window-content {

    background-position: 0 0;
    background-repeat: repeat
}

.swade-official .window-content .main-grid {
    display: grid;
    gap: .5em;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
    grid-template-rows: 25px 25px 50px 1fr 8fr auto !important;
    height: 100%
}

.swade-official .grid-cover,
.swade-official .grid-under {
    display: none;
    margin: 0;
    pointer-events: none
}

.swade-official .charname-container {
    align-items: center;
    display: flex;
    grid-column: 3/5 !important;
    grid-row: 1/3 !important
}

.swade-official .charname-container input[type] {
    background: transparent
}

.swade-official .char-img-container {
    grid-column: 1/3 !important;
    grid-row: 1/4 !important;
    padding-left: .5em
}

.swade-official .char-img-container img {
    border: 0;
    cursor: pointer;
    filter: drop-shadow(.2em .4em .3em rgba(0, 0, 0, .5));
    height: 100%;
    object-fit: contain;
    transition: filter .15s linear;
    width: 100%
}

.swade-official .char-img-container img:focus,
.swade-official .char-img-container img:hover {
    filter: drop-shadow(.2em .4em .3em rgba(0, 0, 0, .8))
}

.swade-official input[type=number],
.swade-official input[type=text] {
    background: var(--input-background);
    border: none
}

.swade-official input[type=number] :focus,
.swade-official input[type=number]:hover,
.swade-official input[type=text] :focus,
.swade-official input[type=text]:hover {
    box-shadow: var(--input-box-shadow)
}

.swade-official input[type=number]:disabled,
.swade-official input[type=text]:disabled {
    background: transparent;
    border: 1px solid var(--input-background)
}

.swade-official input[type=number]:disabled:hover,
.swade-official input[type=text]:disabled:hover {
    box-shadow: none
}

.swade-official button:not(section.secret>button.reveal) {
    background: transparent;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    border-radius: 0;
    cursor: pointer;
    font-family: var(--default-font);
    line-height: 16px;
    margin: 2px;
    padding: 2px;
    width: auto
}

.swade-official button:not(section.secret>button.reveal) i {
    margin: 0
}

.swade-official button:not(section.secret>button.reveal):focus {
    box-shadow: var(--input-box-shadow)
}

.swade-official button:not(section.secret>button.reveal):hover {
    text-shadow: var(--input-text-shadow)
}

.swade-official button:not(section.secret>button.reveal).rollable {
    border-bottom: 1px dashed #000
}

.swade-official .editor {
    width: 100%
}

.swade-official .editor .editor-menu button span {
    text-shadow: none
}

.swade-official .editor .editor-menu button span:hover {
    text-shadow: var(--input-text-shadow)
}

.swade-official .section-header {
    color: var(--section-header-color);
    display: grid;
    font-family: var(--section-header-font);
    font-size: var(--section-header-size);
    grid-template-columns: auto 1fr auto;
    text-align: center
}

.swade-official .section-header .name {
    grid-column: 1/-1;
    grid-row: 1;
    text-align: center;
    z-index: 0
}

.swade-official .section-header .controls {
    font-family: var(--default-font);
    grid-column: 3;
    grid-row: 1;
    z-index: 1
}

.swade-official .item-unequipped {
    color: rgba(0, 0, 0, .2)
}

.swade-official .add-effect,
.swade-official .item-create {
    color: var(--add-button-color)
}

.swade-official .add-effect :focus,
.swade-official .add-effect:hover,
.swade-official .item-create :focus,
.swade-official .item-create:hover {
    color: #3b3b3b
}

.swade-official .sheet-header-official input[type=number],
.swade-official .sheet-header-official input[type=text] {
    background: transparent;
    flex-basis: 100px
}

.swade-official .charname {
    background: none;
    border: none;
    font-size: 2rem;
    height: 2.5rem;
    margin: 0;
    width: 100%
}

.swade-official .char-details {
    justify-content: space-around
}

.swade-official #conviction {
    --color-initial: #320d00;
    --color-high: rgba(142, 45, 41, .7);
    --color-low: rgba(50, 13, 0, 0);
    flex: 0;
    text-align: center
}

.swade-official #conviction .conviction-toggle {
    cursor: pointer;
    font-family: var(--section-header-font)
}

.swade-official #conviction .conviction-counterinput[type] {
    background-color: #aca592;
    font-size: 1.5em
}

.swade-official #conviction .conviction-counter:active,
.swade-official #conviction .conviction-counter:focus,
.swade-official #conviction .conviction-counter:hover {
    border-bottom: 1px dashed var(--heading-color-dark);
    box-shadow: none
}

.swade-official #conviction input {
    max-width: 50px;
    width: 100%
}

.swade-official #conviction .pulse {
    animation: pulse 2s infinite;
    border-radius: 5px;
    box-shadow: 0 0 0 0 var(--color-initial);
    transform: scale(1);
    white-space: nowrap
}

@keyframes pulse {
    0% {
        background: var(--color-high);
        box-shadow: 0 0 0 0 var(--color-high);
        transform: scale(.95)
    }

    70% {
        background: var(--color-low);
        box-shadow: 0 0 0 8px var(--color-low);
        transform: scale(1)
    }

    to {
        background: var(--color-low);
        box-shadow: 0 0 0 0 var(--color-low);
        transform: scale(.95)
    }
}

.swade-official .additional-stats select,
.swade-official .currency select {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(59, 59, 59, .5);
    border-radius: 0
}

.swade-official .additional-stats select option,
.swade-official .currency select option {
    color: #000
}

.swade-official .additional-stats button,
.swade-official .currency button {
    text-align: left;
    text-decoration: underline;
    text-decoration-style: dashed;
    width: 80%
}

.swade-official .additional-stats input,
.swade-official .currency input {
    text-align: center
}


.swade-official .fatigue-wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    grid-column: 3/4 !important;
    grid-row: 3/4 !important;
    justify-content: flex-start
}

.swade-official .wounds-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    grid-column: 4/5 !important;
    grid-row: 3/4 !important;
    justify-content: flex-start
}

.swade-official .counter-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-weight: 700;
    justify-content: space-around;
    line-height: 1rem
}

.swade-official .counter-header .label {
    white-space: nowrap
}

.swade-official .bennies {
    grid-column: 5/7 !important;
    grid-row: 1/4 !important
}

.swade-official .attributes {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    grid-column: 1/7 !important;
    grid-row: 4/5 !important
}

.swade-official .quickaccess {
    grid-column: 4/7 !important;
    grid-row: 5/6 !important
}
.swade-official .skills {
    max-width: 100%;
    grid-column: 1/4 !important;
    grid-row: 5/6 !important
}

.swade-official .label {
    text-align: center
}

.swade-official .wounds {
    background-image: none !important;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    line-height: 1rem;
    margin: 2px 0;
    text-align: center
}

.swade-official .wounds input {
    background: none;
    border: none;
    border-radius: 0;
    height: 1rem;
    padding: 0;
    text-align: end;
    width: 1rem
}

.swade-official .wounds .values {
    padding-right: 1rem
}

.swade-official .fatigue {
    background-image: none !important;
    max-width: 90%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    line-height: 1rem;
    margin: 2px 0;

    text-align: center
}

.swade-official .fatigue input {
    background: none;
    border: none;
    border-radius: 0;
    height: 1rem !important;
    padding: 0;
    text-align: end;
    width: 1rem
}

.swade-official .fatigue .values {
    padding-right: 1rem
}

.swade-official .bennies {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 5/7;
    grid-row: 1/3;
    min-height: 1rem
}

.swade-official .bennies .counter-header {
    grid-row: 1
}

.swade-official .bennies .benny-icons {
    grid-row: 2
}


.swade-official .benny {
    background-size: contain;
    grid-row: 2;
    height: 70px;
    width: 70px
}

.swade-official .benny:hover {
    filter: grayscale(100%)
}

.swade-official .attributes,
.swade-official .gear {
    justify-content: center
}

.swade-official .additional-stats {
    max-width: 95%;
    padding-left: 10px
}

.swade-official .additional-stats select {
    max-width: 270px
}



.swade-official .armor-display,
.swade-official .parry-display {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain
}


.swade-official .primary {
    margin-bottom: 5px;
    text-align: center
}

.swade-official .primary .attribute-manager {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    z-index: 1
}

.swade-official .primary .attribute-label {
    font-weight: 700;
    white-space: nowrap
}

.swade-official .primary .attribute-value {
    flex-wrap: nowrap;
    margin-top: 2px;
    width: 100%;
}

.swade-official .primary .attribute {
    margin-bottom: 5px
}

.swade-official .primary .attribute .die {
    border: none;
    height: 28px
}

.swade-official .primary .attribute .modifier {
    line-height: 28px;
    margin: 0;
    width: 100%
}

.swade-official .primary .attribute+.attribute {
    padding-left: 5px
}

.swade-official .derived {
    margin-bottom: 5px;
    text-align: center
}

.swade-official .derived .stat {
    margin-bottom: 5px
}

.swade-official .derived .stat-label {
    font-weight: 700
}

.swade-official .derived .stat-value {
    flex-wrap: nowrap;
    margin-top: 5px
}

.swade-official .derived input {
    height: 28px;
    margin: 0;
    width: 100%
}

.swade-official .derived .stat+.stat {
    padding-left: 2px
}

.swade-official .derived .running-die {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 2px;
    max-height: 28px;
    padding: 0 2px
}

.swade-official .primary+.derived {
    margin-left: 10px
}

.swade-official .note-box {
    display: grid;
    gap: 0;
    grid-template-rows: minmax(2.2em, auto) 1fr 3em;
    margin-top: -10px
}

.swade-official .note-box .section-header {
    margin: auto;
    width: 90%
}

.swade-official .note-box .note-header {
    background-image: none !important;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    grid-column: 1;
    grid-row: 1;
    max-width: 100%
}

.swade-official .note-box .note-main {
    background-image: none !important;
    background-position: 50%;
    background-repeat: repeat-y;
    background-size: contain;
    grid-column: 1;
    grid-row: 2
}

.swade-official .note-box .note-footer {
    background-image: none !important;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    grid-column: 1;
    grid-row: 3
}

.swade-official .skills .skill-list {
    font-size: 1.15em;
    list-style: none;
    margin: 0;
    padding-left: 10px;
    width: 95%
}

.swade-official .skills .skill-name {
    flex: 3;
    justify-self: flex-start;
    text-align: left
}

.swade-official .skills .skill-die {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    line-height: 24px
}

.swade-official .skills .skill-die .skill-die-icon {
    border: none;
    margin: 0;
    max-height: 24px;
    padding: 0
}

.swade-official .skills li {
    border-bottom: 2px solid rgba(59, 59, 59, .5)
}

.swade-official .skills li.item.skill {
    margin-bottom: 2px;
    padding-bottom: 2px
}

.swade-official .skills li.item.skill .skill-icon {
    border: none;
    flex-grow: 0;
    margin-right: .1em;
    margin-top: .3em;
    max-height: 24px;
    object-fit: contain
}

.swade-official .skills li.item.skill .card-header.flexrow {
    align-items: center
}

.swade-official .skills li.item.skill .item-controls {
    display: flex;
    justify-content: flex-end
}

.swade-official .quickaccess ol,
.swade-official .quickaccess ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 10px;
    width: 95%
}

.swade-official .gear-card {
    border-bottom: 2px solid rgba(59, 59, 59, .5);
    margin-bottom: 2px;
    padding-bottom: 2px
}

.swade-official .gear-card .item-name {
    font-size: 14px;
    justify-self: flex-start;
    padding-left: 5px;
    text-align: left
}

.swade-official .gear-card button.item-name {
    cursor: pointer
}

.swade-official .gear-card.disabled-effect .item-name {
    text-decoration: line-through;
    text-decoration-thickness: 2px
}

.swade-official .gear-card .card-header {
    justify-content: space-between
}

.swade-official .gear-card .item-image {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    flex-basis: 24px;
    flex-grow: 0;
    height: 24px;
    justify-self: flex-start
}

.swade-official .gear-card .item-controls {
    display: flex;
    justify-content: flex-end;
    line-height: 24px
}

.swade-official .gear-card .card-content {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    justify-content: space-evenly;
    line-height: 16px;
    overflow: hidden;
    padding: 5px
}

.swade-official .gear-card .card-content div {
    flex-basis: 130px;
    flex-grow: 1
}

.swade-official .currency {
    justify-self: flex-end;
    max-width: 33%
}

.swade-official .encumbrance {
    justify-self: flex-start;
    line-height: var(--form-field-height)
}

.swade-official .encumbrance .value {
    font-weight: 700
}

.swade-official .inventory #context-menu .context-item {
    text-align: left
}

.swade-official .inventory ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.swade-official .inventory li.item {
    padding: 0 2px
}

.swade-official .inventory li.item:nth-child(2n) {
    background: rgba(0, 0, 0, .1)
}

.swade-official .inventory .item-wrapper {
    align-items: center;
    column-gap: 2px;
    display: grid;
    font-size: 14px;
    line-height: 30px
}

.swade-official .inventory .item-name {
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap
}

.swade-official .inventory .item-img {
    background-position: 50%;
    background-size: cover;
    border: none;
    height: 28px;
    width: 28px
}

.swade-official .inventory .item-img:focus,
.swade-official .inventory .item-img:hover {
    background-image: none !important
}

.swade-official .inventory .item-img:focus:after,
.swade-official .inventory .item-img:hover:after {
    content: "\f27a";
    font-family: Font Awesome\ 5 Free;
    font-size: 1.25em;
    text-align: center
}

.swade-official .inventory .description {
    display: none;
    font-family: Signika, serif;
    font-size: 14px;
    grid-column: 1/-1;
    line-height: normal;
    margin: 2px;
    max-height: 300px;
    overflow-y: scroll;
    padding: 2px;
    white-space: normal
}

.swade-official .inventory .item-controls {
    display: flex;
    flex: 1;
    justify-content: flex-end
}

.swade-official .inventory .item-controls button {
    margin: 0
}

.swade-official .inventory .weapon {
    grid-template-columns: 32px 3fr 1fr 1fr 2fr 1fr 80px
}

.swade-official .inventory .weapon .item-img {
    grid-column: 1
}

.swade-official .inventory .weapon .name {
    flex-wrap: nowrap;
    grid-column: 2
}

.swade-official .inventory .weapon .damage {
    grid-column: 3;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap
}

.swade-official .inventory .weapon .damage button {
    width: 90%
}

.swade-official .inventory .weapon .ap {
    grid-column: 4;
    text-align: center
}

.swade-official .inventory .weapon .note {
    grid-column: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.swade-official .inventory .weapon .weight {
    grid-column: 6;
    text-align: center
}

.swade-official .inventory .weapon .item-controls {
    grid-column: 7
}

.swade-official .inventory .armor {
    grid-template-columns: 32px 3fr 1fr 1fr 2fr 1fr 80px
}

.swade-official .inventory .armor .item-img {
    grid-column: 1
}

.swade-official .inventory .armor .name {
    flex-wrap: nowrap;
    grid-column: 2
}

.swade-official .inventory .armor .bonus {
    grid-column: 3;
    text-align: center
}

.swade-official .inventory .armor .min-str {
    grid-column: 4;
    text-align: center
}

.swade-official .inventory .armor .note {
    grid-column: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.swade-official .inventory .armor .weight {
    grid-column: 6;
    text-align: center
}

.swade-official .inventory .armor .item-controls {
    grid-column: 7
}

.swade-official .inventory .shield {
    grid-template-columns: 32px 3fr 1fr 1fr 2fr 1fr 80px
}

.swade-official .inventory .shield .item-img {
    grid-column: 1
}

.swade-official .inventory .shield .name {
    flex-wrap: nowrap;
    grid-column: 2
}

.swade-official .inventory .shield .parry {
    grid-column: 3;
    text-align: center
}

.swade-official .inventory .shield .cover {
    grid-column: 4;
    text-align: center
}

.swade-official .inventory .shield .note {
    grid-column: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.swade-official .inventory .shield .weight {
    grid-column: 6;
    text-align: center
}

.swade-official .inventory .shield .item-controls {
    grid-column: 7
}

.swade-official .inventory .consumable {
    grid-template-columns: 32px 3fr 4fr 1fr 80px
}

.swade-official .inventory .consumable .item-img {
    grid-column: 1
}

.swade-official .inventory .consumable .name {
    flex-wrap: nowrap;
    grid-column: 2
}

.swade-official .inventory .consumable .charges {
    flex-wrap: nowrap;
    grid-column: 3;
    text-align: center
}

.swade-official .inventory .consumable .weight {
    grid-column: 4;
    text-align: center
}

.swade-official .inventory .consumable .item-controls {
    grid-column: 5
}

.swade-official .inventory .misc {
    grid-template-columns: 32px 7fr 1fr 80px
}

.swade-official .inventory .misc .item-img {
    grid-column: 1
}

.swade-official .inventory .misc .name {
    flex-wrap: nowrap;
    grid-column: 2
}

.swade-official .inventory .misc .weight {
    grid-column: 3;
    text-align: center
}

.swade-official .inventory .misc .item-controls {
    grid-column: 4
}

.swade-official .inventory .action {
    grid-template-columns: 32px 8fr 80px
}

.swade-official .inventory .action .item-img {
    grid-column: 1
}

.swade-official .inventory .action .name {
    flex-wrap: nowrap;
    grid-column: 2
}

.swade-official .inventory .action .item-controls {
    grid-column: 3
}

.swade-official .header {

    background-position: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 5px;
    display: grid;
    line-height: 24px;
    margin-top: 2px;
    padding-left: 5px
}

.swade-official .header .item-controls {
    justify-content: space-around !important
}

.swade-official .header .header-name {
    font-weight: 700;
    grid-column: 1/span 2
}

.swade-official .edges .section-header {
    font-size: 1.75em
}

.swade-official .edges .edge-hindrance {
    border-bottom: 2px solid rgba(59, 59, 59, .5);
    column-gap: 2px;
    display: grid;
    grid-template-columns: 32px 1fr 80px;
    margin-bottom: 2px;
    padding-bottom: 2px
}

.swade-official .edges .feature-list {
    list-style: none;
    padding: 0
}

.swade-official .edges .item-name {
    justify-self: flex-start;
    padding-left: 5px;
    text-align: left
}

.swade-official .edges .item-name button {
    font-size: 14px
}

.swade-official .edges .item-img {
    background-position: 50%;
    background-size: cover;
    border: none;
    height: 32px;
    width: 32px
}

.swade-official .edges .item-img:focus,
.swade-official .edges .item-img:hover {
    background-image: none !important
}

.swade-official .edges .item-img:focus:after,
.swade-official .edges .item-img:hover:after {
    content: "\f27a";
    font-family: Font Awesome\ 5 Free;
    font-size: 1.25em;
    text-align: center
}

.swade-official .edges .item-controls {
    display: flex;
    flex: 0 0 32px;
    justify-self: flex-end;
    line-height: 30px;
    text-align: center
}

.swade-official .edges .item-controls button {
    line-height: 24px;
    text-align: center
}

.swade-official .edges .description {
    display: none;
    font-family: Signika, serif;
    font-size: 14px;
    grid-column: 1/-1;
    line-height: normal;
    margin: 2px;
    max-height: 300px;
    overflow-y: scroll;
    padding: 2px;
    white-space: normal
}

.swade-official .effects.active .effects-list {
    list-style: none;
    margin-bottom: 1em
}

.swade-official .effects.active .effect-add {
    display: block;
    margin-left: auto;
    padding-left: 3rem;
    width: fit-content
}

.swade-official .effects.active .effect,
.swade-official .effects.active .effect-header {
    align-items: center;
    column-gap: 2px;
    display: grid;
    grid-template-columns: 40px 3fr 2fr 80px;
    padding: 2px 5px
}

.swade-official .effects.active .effect-header {

    background-position: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 5px;
    line-height: 24px;
    margin-bottom: 10px;
    text-align: center
}

.swade-official .effects.active .effect-header .effect-label {
    font-weight: 700;
    grid-column: 1/span 2;
    padding-left: 5px;
    text-align: left
}

.swade-official .effects.active .effect-header .effect-controls {
    justify-content: space-around
}

.swade-official .effects.active .effect-label {
    text-align: left
}

.swade-official .effects.active .effect-source {
    font-size: var(--font-size-12);
    text-align: center
}

.swade-official .effects.active .effect-controls {
    display: flex;
    gap: initial;
    justify-content: flex-end;
    text-align: center
}

.swade-official .effects.active .effect-controls>* {
    padding: 0
}

.swade-official .powers .section-header {
    font-size: 1.75em
}

.swade-official .powers ul {
    list-style: none;
    padding: 0
}

.swade-official .powers .power {
    border-bottom: 2px solid rgba(59, 59, 59, .5);
    column-gap: 2px;
    display: grid;
    grid-template-columns: 32px 1fr 80px;
    margin-bottom: 2px;
    padding-bottom: 2px
}

.swade-official .powers .item-name {
    justify-self: flex-start;
    padding-left: 5px;
    text-align: left
}

.swade-official .powers .item-name button {
    font-size: 14px
}

.swade-official .powers .item-img {
    background-position: 50%;
    background-size: cover;
    border: none;
    height: 32px;
    width: 30px
}

.swade-official .powers .item-img:focus,
.swade-official .powers .item-img:hover {
    background-image: none !important
}

.swade-official .powers .item-img:focus:after,
.swade-official .powers .item-img:hover:after {
    content: "\f27a";
    font-family: Font Awesome\ 5 Free;
    font-size: 1.25em;
    text-align: center
}

.swade-official .powers .item-controls {
    display: flex;
    flex: 0 0 32px;
    justify-self: flex-end;
    line-height: 30px;
    text-align: center
}

.swade-official .powers .item-controls button {
    line-height: 24px;
    text-align: center
}

.swade-official .powers .description {
    display: none;
    font-family: Signika, serif;
    font-size: 14px;
    grid-column: 1/-1;
    line-height: normal;
    margin: 2px;
    max-height: 300px;
    overflow-y: scroll;
    padding: 2px;
    white-space: normal
}

.swade-official .powers .description .power-details {
    display: flex;
    font-family: var(--default-font);
    font-size: 14px;
    font-weight: 900
}

.swade-official .powers .description .power-details span {
    margin: 2px;
    padding: 2px
}

.swade-official .powers .description .power-details button {
    font-weight: 900
}

.swade-official .powers .description .trapping {
    font-family: var(--default-font);
    font-size: 14px;
    font-weight: 900;
    margin: 2px;
    padding: 2px
}

.swade-official .powers .pp-counter {
    color: #000;
    font-family: var(--default-font)
}

.swade-official .powers .pp-counter input {
    width: 50px
}

.swade-official .about.active {
    display: grid;
    grid-template-rows: max-content auto
}

.swade-official .about.active .editor {
    border: 2px solid rgba(59, 59, 59, .5);
    height: 100%;
    padding: 0 5px
}

.swade-official .about.active .about-body {
    max-height: 100%;
    overflow: hidden
}

.swade-official .about.active .tab {
    padding: 0
}

.swade-official .about.active .actor-notes.active {
    max-height: 100%;
    overflow: hidden
}

.swade-official .about.active .background.active {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    margin: 0
}

.swade-official .about.active .background.active .editor-container {
    display: grid;
    grid-template-rows: max-content auto;
    overflow: hidden
}

.swade-official .about.active .background.active .editor-container:last-of-type {
    grid-column: 1/span 2
}

.swade-official .about.active .background.active .section-header {
    font-size: 1.15em;
    margin-bottom: 5px
}

.swade-official .limited .sheet-body {
    display: grid;
    grid-template-rows: max-content 1fr max-content 1fr;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 10px
}

.swade-official .limited .charname-container {
    grid-row: 1/span 2
}

.swade-official .limited .profile-img {
    cursor: default
}

.swade-official .limited .profile-img:focus,
.swade-official .limited .profile-img:hover {
    filter: drop-shadow(.2em .4em .3em rgba(0, 0, 0, .5))
}